@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* header mobile + navegador */
header {
  background-color: rgb(250, 217, 230);
  width: 100%;
  height: 100px;
  font-family: "Quicksand", sans-serif;
  opacity: 0.9;
}

.navbar-logo {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

.navbar-logo img {
  display: block;
  width: 100%;
  height: auto;
}

header .logo {
  text-align: center;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
}
header li {
  font-family: "Quicksand", sans-serif;
  display: inline;
}
header li:last-child a {
  font-family: "Quicksand", sans-serif;
  margin-right: 0;
}

/* Main */
main {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main .mensaje {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px black;
  position: absolute;
  display: flex;
  padding: 20px;
  justify-content: center;
  font-family: cursive;
  font-size: 30px;
}

main .mensaje2 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px black;
  position: absolute;
  display: flex;
  padding: 100px;
  justify-content: center;
  font-family: cursive;
  font-size: 20px;
}

.container-fluid {
  background-color: rgb(228, 174, 197);
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 200px);
  padding: 10px;
  grid-gap: 10px;
}
.container-fluid .img {
  border: solid rgba(0, 0, 0, 0.29) 1px;
}
.container-fluid .img1 {
  background-image: url(img/cat-1940487_1920.jpg);
  background-size: cover;
  background-position: center;
}
.container-fluid .img2 {
  background-image: url(img/cat-300572_1920.jpg);
  background-size: cover;
  background-position: center;
}
.container-fluid .img3 {
  background-image: url(img/kitten-4611189_1920.jpg);
  background-size: cover;
  background-position: center;
}

/* inicio de footer */
footer {
  width: 100%;
  background-color: rgb(226, 194, 185);
  padding: 5px 0px;
}

.container_footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.box_footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box_footer .logo img {
  width: 80px;
}

.box_footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box_footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box_footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box_footer a:hover {
  opacity: 0.8;
}

.box_footer a .fab {
  font-size: 20px;
}

.box_copy {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box_copy p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box_copy hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

@media only screen and (min-width: 360px) {
  .logo {
    text-align: center;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
  }
  .menu {
    width: 100%;
    font-size: 15px;
    justify-content: space-between;
    color: white;
    padding: 5px;
  }
  .container-fluid {
    background-color: rgb(228, 174, 197);
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 200px);
    padding: 10px;
    grid-gap: 10px;
  }
  .container-fluid .img {
    border: solid rgba(0, 0, 0, 0.24) 1px;
  }
  .container-fluid .img1 {
    background-image: url(img/cat-1940487_1920.jpg);
    background-size: cover;
    background-position: center;
  }
  .container-fluid .img2 {
    background-image: url(img/cat-300572_1920.jpg);
    background-size: cover;
    background-position: center;
  }
  .container-fluid .img3 {
    background-image: url(img/kitten-4611189_1920.jpg);
    background-size: cover;
    background-position: center;
  }
  /* media 600px a 768px */
}
@media only screen and (min-width: 360px) and (min-width: 600px) and (max-width: 768px) {
  .logo {
    text-align: center;
    color: red;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
  }
  .menu {
    width: 100%;
    text-align: center;
    font-size: 17px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 5px;
  }
}

/* media 768 en adelante */
@media only screen and (min-width: 768px) {
  header {
    background-color: rgb(250, 217, 230);
    width: 100%;
    height: 130px;
    opacity: 0.9;
  }
  header .logo {
    text-align: left;
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
  }
  /* -- menu navegador -- */
  .navbar-center {
    position: absolute;
    left: 44%;
    transform: translatex(-50%);
    padding: 5px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: auto;
    margin-bottom: 0;
    list-style: none;
    font-size: 20px;
  }
  li {
    display: inline;
  }
  .menu a {
    outline: none;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    color: #14508f;
  }
  li:last-child a {
    margin-right: 0;
  }

  /* Main */
  main {
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .container-fluid {
    background-color: rgb(228, 174, 197);
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 500px);
    padding: 10px;
    grid-gap: 10px;
  }
  .container-fluid .img {
    border: solid rgba(0, 0, 0, 0.329) 1px;
  }
  .container-fluid .img1 {
    background-image: url(img/cat-1940487_1920.jpg);
    background-size: cover;
    background-position: center;
  }
  .container-fluid .img2 {
    background-image: url(img/cat-300572_1920.jpg);
    background-size: cover;
    background-position: center;
  }
  .container-fluid .img3 {
    background-image: url(img/kitten-4611189_1920.jpg);
    background-size: cover;
    background-position: center;
  }
} /*# sourceMappingURL=estilos.css.map */
