@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
/* variables */
/* map */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* header mobile + navegador */
header {
  background-image: url(/img/eyes-285825.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100px;
  font-family: "Quicksand", sans-serif;
  opacity: 0.9;
}
header .logo {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
}
header li {
  font-family: "Quicksand", sans-serif;
  display: inline;
}
header li:last-child a {
  font-size: "Quicksand", sans-serif;
  margin-right: 0;
}
header a:link,
header a:visited,
header a:focus {
  background: rgba(41, 39, 39, 0.119);
}
header a:hover {
  background: rgba(58, 57, 54, 0.422);
}

/* -- main con grid y flexbox -- */
h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

/* Main */
main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main .call {
  padding: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
  color: red;
}
main .mensaje {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px black;
  position: absolute;
  display: flex;
  padding: 50px;
  justify-content: center;
  font-family: cursive;
}

.container-fluid {
  background-color: grey;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 200px);
  padding: 10px;
  grid-gap: 10px;
}
.container-fluid .img {
  border: solid black 2px;
}
.container-fluid .img1 {
  background-image: url(/img/tree-736885.jpg);
  background-size: cover;
  background-position: center;
}

/* Botones */
.cls-btn-danger, .cls-btn-success, .cls-btn-primary {
  height: 40px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin: 10px 0;
  box-shadow: 2px 2px 6px 2px black;
}

.cls-btn-primary {
  background: rgb(32, 109, 211);
}
.cls-btn-success {
  background: rgb(36, 161, 72);
}
.cls-btn-danger {
  background: orangered;
}

.btn-outline {
  height: 40px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin: 10px 0;
  box-shadow: 2px 2px 6px 2px black;
  transition: 0.5s all ease-in-out;
}
.btn-outline .bg-primary {
  border: 1px solid rgb(32, 109, 211);
  color: rgb(32, 109, 211);
}
.btn-outline .bg-primary:hover {
  background: rgb(32, 109, 211);
  color: white;
}
.btn-outline .bg-success {
  border: 1px solid rgb(36, 161, 72);
  color: rgb(36, 161, 72);
}
.btn-outline .bg-success:hover {
  background: rgb(36, 161, 72);
  color: white;
}
.btn-outline .bg-danger {
  border: 1px solid orangered;
  color: orangered;
}
.btn-outline .bg-danger:hover {
  background: orangered;
  color: white;
}

/* inicio de footer */
footer {
  background-image: url(/img/footer_lodyas.png);
  padding: 10px;
  height: 100px;
}
footer h3 {
  text-align: left;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
  padding-left: 10px;
}
footer .if {
  display: inline-flex;
  width: 100%;
  text-align: center;
  font-size: 30px;
  justify-content: space-between;
  color: red;
}
footer .if a {
  color: rgb(0, 0, 0);
}
footer footer .if i:hover {
  color: dimgrey;
}

@media only screen and (min-width: 360px) {
  .logo {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
  }
  .menu {
    width: 100%;
    font-size: 15px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 5px;
  }
  .container-fluid {
    background-color: grey;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 200px);
    padding: 10px;
    grid-gap: 10px;
  }
  .container-fluid .img {
    border: solid black 2px;
  }
  .container-fluid .img1 {
    background-image: url(/img/tree-736885.jpg);
    background-size: cover;
    background-position: center;
  }
  /* media 600px a 768px */
  /* media 768 en adelante */
}
@media only screen and (min-width: 360px) and (min-width: 600px) and (max-width: 768px) {
  .logo {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
  }
  .menu {
    width: 100%;
    text-align: center;
    font-size: 17px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 5px;
  }
}
@media only screen and (min-width: 360px) {
  .container-fluid {
    background-color: grey;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 200px);
    padding: 10px;
    grid-gap: 10px;
  }
  .container-fluid .img {
    border: solid black 2px;
  }
  .container-fluid .img1 {
    background-image: url(/img/tree-736885.jpg);
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (min-width: 360px) and (min-width: 768px) {
  header {
    background-image: url(/img/eyes-285825.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120px;
    border: solid black 2px;
    opacity: 0.9;
  }
  .logo {
    text-align: left;
    color: red;
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
  }
  /* -- menu navegador -- */
  .navbar-center {
    position: absolute;
    left: 44%;
    transform: translatex(-50%);
    padding: 5px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: auto;
    margin-bottom: 0;
    list-style: none;
    font-size: 20px;
  }
  li {
    display: inline;
  }
  .menu a {
    outline: none;
    text-decoration: none;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
  }
  li:last-child a {
    margin-right: 0;
  }
  a:link,
a:visited,
a:focus {
    background: rgba(41, 39, 39, 0.119);
  }
  a:hover {
    background: rgba(58, 57, 54, 0.422);
  }
  /* Main */
  main {
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  main .call {
    width: 20%;
    padding: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
    font-family: "Quicksand", sans-serif;
    color: red;
  }
  .container-fluid {
    background-color: grey;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 500px);
    padding: 10px;
    grid-gap: 10px;
  }
  .container-fluid .img {
    border: solid black 2px;
  }
  .container-fluid .img1 {
    background-image: url(/img/tree-736885.jpg);
    background-size: cover;
    background-position: center;
  }
}/*# sourceMappingURL=estilosSB.css.map */