@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

/* variables */

$color1: grey;
$color2: red;
$color3: dimgrey;
$color4: rgb(32, 109, 211);
$success: rgb(36, 161, 72);
$danger: orangered;
$font1: cursive;
$font2: sans-serif;
$font3: "Quicksand", sans-serif;
$clase: "cls";

/* map */

$palette: (
  "primary": rgb(32, 109, 211),
  "success": rgb(36, 161, 72),
  "danger": orangered,
);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* header mobile + navegador */

header {
  background-image: url(/img/eyes-285825.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100px;
  font-family: $font3;
  opacity: 0.9;

  .logo {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: $font3;
  }

  li {
    font-family: $font3;
    display: inline;
  }

  li:last-child a {
    font-size: $font3;
    margin-right: 0;
  }

  a:link,
  a:visited,
  a:focus {
    background: rgba(41, 39, 39, 0.119);
  }

  a:hover {
    background: rgba(58, 57, 54, 0.422);
  }
}

/* -- main con grid y flexbox -- */

h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

/* Main */

main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .call {
    padding: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
    color: $color2;
  }

  .mensaje {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
    position: absolute;
    display: flex;
    padding: 50px;
    justify-content: center;
    font-family: $font1;
  }
}

.container-fluid {
  background-color: $color1;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 200px);
  padding: 10px;
  grid-gap: 10px;

  .img {
    border: solid black 2px;
  }

  .img1 {
    background-image: url(/img/tree-736885.jpg);
    background-size: cover;
    background-position: center;
  }
}

/* Botones */

%btn {
  height: 40px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin: 10px 0;
  box-shadow: 2px 2px 6px 2px black;
}

.#{$clase}-btn- {
  &primary {
    @extend %btn;
    background: map-get($map: $palette, $key: "primary");
  }
  &success {
    @extend %btn;
    background: map-get($map: $palette, $key: "success");
  }
  &danger {
    @extend %btn;
    background: map-get($map: $palette, $key: "danger");
  }
}

@mixin button($name, $color) {
  .bg-#{$name} {
    border: 1px solid $color;
    color: $color;
    &:hover {
      background: $color;
      color: white;
    }
  }
}

// Outline buttons
.btn-outline {
  height: 40px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin: 10px 0;
  box-shadow: 2px 2px 6px 2px black;
  transition: 0.5s all ease-in-out;
  @each $name, $color in $palette {
    @include button($name, $color);
  }
  // &primary {
  //   border: 1px solid $color4;
  //   color: $color4;
  //   &:hover {
  //     background: $color4;
  //     color: white;
  //   }
  // }
  // &danger {
  //   border: 1px solid orangered;
  //   color: orangered;
  //   &:hover {
  //     background: orangered;
  //     color: white;
  //   }
  // }
  // &sucess {
  //   border: 1px solid rgb(36, 161, 72);
  //   color: rgb(36, 161, 72);
  //   &:hover {
  //     background: rgb(36, 161, 72);
  //     color: white;
  //   }
  // }
}

// @include button("primary", primary);
// @include button("success", $success);
// @include button("danger", $danger);

/* inicio de footer */

footer {
  background-image: url(/img/footer_lodyas.png);
  padding: 10px;
  height: 100px;

  h3 {
    text-align: left;
    font-size: 25px;
    font-family: $font3;
    padding-left: 10px;
  }

  .if {
    display: inline-flex;
    width: 100%;
    text-align: center;
    font-size: 30px;
    justify-content: space-between;
    color: $color2;
  }

  .if a {
    color: rgb(0, 0, 0);
  }

  footer .if i:hover {
    color: $color3;
  }
}

@media only screen and (min-width: 360px) {
  .logo {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: $font3;
  }

  .menu {
    width: 100%;
    font-size: 15px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 5px;
  }

  .container-fluid {
    background-color: $color1;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 200px);
    padding: 10px;
    grid-gap: 10px;

    .img {
      border: solid black 2px;
    }

    .img1 {
      background-image: url(/img/tree-736885.jpg);
      background-size: cover;
      background-position: center;
    }
  }

  /* media 600px a 768px */

  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .logo {
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-family: $font3;
    }

    .menu {
      width: 100%;
      text-align: center;
      font-size: 17px;
      justify-content: space-between;
      color: rgb(255, 255, 255);
      padding: 5px;
    }
  }

  .container-fluid {
    background-color: $color1;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 200px);
    padding: 10px;
    grid-gap: 10px;

    .img {
      border: solid black 2px;
    }

    .img1 {
      background-image: url(/img/tree-736885.jpg);
      background-size: cover;
      background-position: center;
    }
  }

  /* media 768 en adelante */

  @media only screen and (min-width: 768px) {
    header {
      background-image: url(/img/eyes-285825.png);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 120px;
      border: solid black 2px;
      opacity: 0.9;
    }

    .logo {
      text-align: left;
      color: $color2;
      font-size: 40px;
      font-family: $font3;
    }

    /* -- menu navegador -- */

    .navbar-center {
      position: absolute;
      left: 44%;
      transform: translatex(-50%);
      padding: 5px;
    }

    .navbar-nav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: auto;
      margin-bottom: 0;
      list-style: none;
      font-size: 20px;
    }

    li {
      display: inline;
    }

    .menu a {
      outline: none;
      text-decoration: none;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      color: rgb(255, 255, 255);
    }

    li:last-child a {
      margin-right: 0;
    }

    a:link,
    a:visited,
    a:focus {
      background: rgba(41, 39, 39, 0.119);
    }

    a:hover {
      background: rgba(58, 57, 54, 0.422);
    }

    /* Main */

    main {
      font-family: $font3;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .call {
        width: 20%;
        padding: 5px;
        position: absolute;
        display: flex;
        justify-content: center;
        text-shadow: 0.1em 0.1em 0.2em rgb(0, 0, 0);
        font-family: $font3;
        color: $color2;
      }
    }

    .container-fluid {
      background-color: $color1;
      height: auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 500px);
      padding: 10px;
      grid-gap: 10px;

      .img {
        border: solid black 2px;
      }

      .img1 {
        background-image: url(/img/tree-736885.jpg);
        background-size: cover;
        background-position: center;
      }
    }
  }
}
